LoadPlugin interface
LoadPlugin cpu
LoadPlugin disk
LoadPlugin load
LoadPlugin memory
LoadPlugin df
LoadPlugin swap


<Plugin disk>
       #Disk "/^[hs]d[a-f][0-9]?$/"
       IgnoreSelected true
       #UseBSDName false
       #UdevNameAttr "DEVNAME"
</Plugin>


<Plugin df>
  IgnoreSelected true
</Plugin>
