
filebeat.modules:
- module: system
  syslog:
    enabled: true
- module: auditd
  log:
    enabled: true
filebeat.spool_size: 2048
filebeat.config_dir: /etc/filebeat/conf.d
filebeat.shutdown_timeout: 2
tags: ["filebeat", "servicename", "servicetype"]

output.elasticsearch:
  enabled: false
  hosts: ["server1:9200","server2:9200","server3:9200"]
  template.enabled: true
  template.name: "filebeat"
  template.path: "${path.config}/filebeat.template.json"
  template.overwrite: true

#------------------------------- Kafka output ----------------------------------
output.kafka:
  enabled: true
  hosts: ["server1:9092","server2:9092","server3:9092"]
  topic: "filebeats"
  #version: 0.10.2.1

logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  rotateeverybytes: 10485760 # = 10MB
  keepfiles: 7
